#content{
    color:#FFFFFF;
    text-align:center;
}
#background{
    background-image: url("../img/desing.jpg");
    background-size: auto;
    position: absolute;
    width: 1280px;
    height: 720px;
}
h1{
    font-family:"Open Sans",sans-serif;
    font-size: 40px;
}
p{
    font-size: 25px;
    font-family:"Merriweather",serif;
}
img{
    border: 1px solid #0000ff;
    text-align: center;
    height:120px;
    width:200px;
}
